html, body { background-color:#D0D0D0; color: #333333; FONT-SIZE: 14px; FONT-FAMILY: MS Sans Serif; }
div.tlist {
	padding-left:10px; margin-bottom:10px; border-color:black; border-width:1px; background-color:#EFFEFF;
}
.postbox { padding-left:10px; margin-bottom:10px; border-style:solid; border-color:black; border-width:1px; background-color:#EFFEFF; }
.medtitle { font-size:large; margin-left:14px; margin-top:5px; color:#0066FF;}
.pgtitle { text-decoration:none; color:#2266AA; font-family:sans-serif; font-size:medium; border-width:0px 0px 2px 0px; border-color:#FF6600; border-style:solid; margin-right:10px; margin-top:5px; }
#idxmenu { overflow:hidden; white-space:nowrap; color:#333333; font-family: MS Sans Serif; font-size:large; position:fixed; float:right; text-align:center; background-color:#EFEFEF; border-style:solid; border-color:#0066FF; border-width:1px; right:8px; top:8px; width:150px; }
#idxmenu A { color:#0066FF; text-decoration:none; margin:1px; }
#idxmenuitem { font-family:"Gill Sans",Helvetica,sans-serif; font-size:small; text-align:left; overflow:hidden; }
#idxmenuitem A:hover { text-decoration:underline; }
#idxmenuitem .idxmenutitle { color:#2266AA; text-align:center; }
#idxmenuitem .idxmenupg { text-align:center; font-size:x-small; }
#idxmenuitem .idxmenutitle A { color:#0066FF; }
a { color: #0088A0; }
a:hover { color: #0066FF; text-decoration: none; }
a:link {text-decoration: none; color: #0066FF;}
a:visited {text-decoration: none; color: #0066FF;}
a:active {text-decoration: none}
a.info{ position:relative; /*this is the key*/ z-index:24; color:#FF6600; text-decoration:none }
a.info:hover{ z-index:25; background-color:#EEEEEE }
a.info span{ display: none }
/*the span will display just on :hover state*/
a.info:hover span{ display:block; position:absolute; top:2em; left:2em; width:15em; border:1px solid #FF6600; background-color:#EEEEEE; color:#333333; text-align: center }
.postername { color:#004A99; font-weight:bold; }
.postertrip { color:#FF3300; }
.sssmall, .ssmed, .sslarge, .sslarger, .sslargest { color:black; font-family:sans-serif; }
blockquote { margin: .5em .5em .5em 1em; float:none; clear:both; }
blockquote p { margin: 0; padding: 0; }
#main {
    margin-right:154px;
    /*padding-left:10px;*/
    }

.showit {
display:block;
}

.replies {
    border-style:solid;
    border-color:olive;
    border-width: 0px 0px 0px 4px;
    padding-left: 2px;
    /*Hmm. Glitchy in Moz engine... left vertical line doesn't go all the way down unless the bottom horiz line has a width > 1px.*/
    }

/* Image stuff */
.imgrow {
    margin-left:10px;
    }
.imgbox {
    overflow:hidden;
    border-style:solid;
    border-color:olive;
    border-width:1px;
    background-color:white;
    width:150px;
    /*height:122px;*/
    text-align:center;
    float:left;
    margin-left:1px;
    margin-top:1px;
    padding:1px;
    line-height:80%;
    }
.imginfo {
    color:olive;
    font-family:"Gill Sans",Helvetica,sans-serif;
    white-space:nowrap;
    text-align:center;
    font-size:x-small;
    line-height:90%;
    }

/* Post body */
.postbody {
    font-family:sans-serif;
    font-size:medium;
    line-height:125%;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:16px;
    display:block;
    text-align:justify;
    float:none;
    clear:both;
    }

.ban { color:red; font-weight: bold; }

.centered
{
    width: 100%;
    text-align: center;
}

.lefthalf
{
    width: 50%;
    text-align: left;
}

.righthalf
{
    width: 50%;
    text-align: right; 
}